<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PRINNY/IDLE/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/IDLE/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,24}</string>
                <key>spriteSourceSize</key>
                <string>{19,24}</string>
                <key>textureRect</key>
                <string>{{20,0},{19,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{39,0},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{56,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{72,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{88,0},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{103,0},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{118,0},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{133,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/SPINSPIN/frame7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{149,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_DOWN/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{165,0},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_DOWN/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{182,0},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_DOWN/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,24}</string>
                <key>spriteSourceSize</key>
                <string>{17,24}</string>
                <key>textureRect</key>
                <string>{{197,0},{17,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_DOWN/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,23}</string>
                <key>spriteSourceSize</key>
                <string>{15,23}</string>
                <key>textureRect</key>
                <string>{{214,0},{15,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_LEFT/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{229,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_LEFT/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{245,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_LEFT/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{261,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_LEFT/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{277,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_RIGHT/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{293,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_RIGHT/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{309,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_RIGHT/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,24}</string>
                <key>spriteSourceSize</key>
                <string>{16,24}</string>
                <key>textureRect</key>
                <string>{{325,0},{16,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_RIGHT/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,23}</string>
                <key>spriteSourceSize</key>
                <string>{16,23}</string>
                <key>textureRect</key>
                <string>{{341,0},{16,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_UP/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{357,0},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_UP/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{372,0},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_UP/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,24}</string>
                <key>spriteSourceSize</key>
                <string>{15,24}</string>
                <key>textureRect</key>
                <string>{{386,0},{15,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNY/WALK_UP/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{401,0},{14,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_DOWN/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{415,0},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_DOWN/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{434,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_DOWN/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{455,0},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_DOWN/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{474,0},{21,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_LEFT/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{495,0},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_LEFT/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{513,0},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_LEFT/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{531,0},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_LEFT/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{549,0},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_RIGHT/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{567,0},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_RIGHT/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{585,0},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_RIGHT/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,29}</string>
                <key>spriteSourceSize</key>
                <string>{18,29}</string>
                <key>textureRect</key>
                <string>{{603,0},{18,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_RIGHT/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{621,0},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_UP/frame0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{639,0},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_UP/frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{656,0},{17,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_UP/frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{673,0},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PRINNYX/WALK_UP/frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,27}</string>
                <key>spriteSourceSize</key>
                <string>{17,27}</string>
                <key>textureRect</key>
                <string>{{690,0},{17,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,600}</string>
                <key>spriteSourceSize</key>
                <string>{800,600}</string>
                <key>textureRect</key>
                <string>{{0,29},{800,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>prinny.png</string>
            <key>size</key>
            <string>{800,629}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c785df3f309eb5802c45eea3f1938b49:49e6860768239f06d1c8b3adc0d81d20:f71d827d7b9c4ecb333bbb817b9ae43e$</string>
            <key>textureFileName</key>
            <string>prinny.png</string>
        </dict>
    </dict>
</plist>
